* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 10px;
  margin-top: 160px;
}
.container .container1 {
  height: 100%;
  width: 300px;
  background-color: hsl(31, 77%, 52%);
}
.container .container1 img {
  padding: 50px 0px 0px 40px;
}
.container .container1 h1 {
  color: white;
  font-weight: 700;
  padding: 20px 0px 0px 40px;
}
.container .container1 p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  padding: 30px 0px 0px 40px;
}
.container .container2 {
  height: 100%;
  width: 300px;
  background-color: hsl(184, 100%, 22%);
}
.container .container2 img {
  padding: 50px 0px 0px 40px;
}
.container .container2 h1 {
  color: white;
  font-weight: 700;
  padding: 20px 0px 0px 40px;
}
.container .container2 p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  padding: 30px 0px 0px 40px;
}
.container .container3 {
  height: 100%;
  width: 300px;
  background-color: hsl(179, 100%, 13%);
}
